:root {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

* {
  font-family: monospace;
  font-size: 1rem;
}

button:focus-visible {
  outline: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: cornflowerblue;
  text-decoration: inherit;
}

a:hover {
  color: royalblue;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 25px 25px;
  background-position: -19px -19px;
}

input[type=number] {
  border: 2px solid rgba(40, 35, 35, 0.6);
  color: inherit;
  background: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  user-select: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

.grid {
  height: calc(100vh - 2em);
  display: grid;
  grid-template-rows: 1fr 5fr 94fr;
  grid-template-columns: max-content auto;
  grid-template-areas:
        "d d"
        "c c"
        "a b";
  margin: 1rem;
  column-gap: 1em;
  row-gap:1em;
}

.app {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 85vh;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: row
}

.ui{
  grid-row-end: a;
  grid-area:a;
  display: grid;
  grid-template-rows: min-content minmax(auto,min-content);
  grid-template-areas:
      "macro"
      "single";
  height: 100%;
}

.macro{
  grid-area: macro
}

.single{
  height: min-content;
  grid-area: single;
  grid-row-end: single
}


.viewport {
  grid-area: b;
  height: 100%;
  border: 2px solid white;
  outline: 1px solid black;
  border-radius: 3px;
  overflow: scroll;
  z-index: -1;
}
.viewport>canvas{
  min-height:1000px;
}

.snapshots {

  grid-area: c;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

label>input{
  display: none
}

/* label>span{

  height: 1rem;
  position: relative;
  bottom: 0;
  padding: 0.1rem;
  background-color: none;
} */

.snapshots>* {
  backdrop-filter: blur(3px) grayscale(60%);
  vertical-align: middle;
  min-height: 1px;
  overflow: hidden;
  border: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 3px;
}

.snapshots>div {
  aspect-ratio: 1 /1;
}

.snapshots>*>span {
  display: block;
  position: absolute;
  float: left;
  bottom: 0;
  filter: invert(100);
  padding-left: 1ch;
}

.snapshots:first-child {
  position: sticky !important;
  top: 0;
  z-index: 100
}

.snapshots>*:hover {
  filter: brightness(150%);
  font-weight: bold;
}

.noscroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.sliders {
  padding: 0;
  margin: 0;
  /* overflow-y: scroll; */
  overflow-x: scroll;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius:3px;
  background-color: #F0F0F0;
}

.sliders>*:nth-child(even) {
  background-color: #E3E3E3;
}

.sliders>*:nth-child(odd) {
  background-color: #F0F0F0;
}


.track {
  display: flex;
  align-items: center;
  vertical-align: center;
  height: 4px;
  background-color: white;
  position: relative;
  border: 1px solid black;
  grid-area: val;
}

.lock {
  max-width: 20px;
  aspect-ratio: 1 / 1;
}

.param-name {
  text-align: left;
  color: black;
}

canvas {
  aspect-ratio: 1 /1;
  top: 0;
  float: left;
  background-color: white !important;
  box-sizing: border-box;
}

.bound {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #808080;
}

.c0 {
  text-align: right;
  grid-area: c0;
}

.c1 {
  text-align: left;
  grid-area: c1;
}


.infobox {
  padding: 0.5rem;
  width: auto;
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 212, .4);
}

.instrument {
  z-index: 10;
  position: fixed;
  color: black;
  background: white;
}


.locked {
  filter: contrast(50%) saturate(50%) opacity(70%);
}

.preview {
  filter: brightness(120%) hue-rotate(60deg);
}

.middle {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 2px;
}


.range,
.thumb {
  position: absolute;
  border: none;
  box-sizing: border-box;
}

.range {
  background: rgb(153, 153, 234);
  color: hsl(240, 66%, 76%);
  border-left: 1px solid  hsl(240, 45%, 60%);
  border-right: 1px solid  hsl(240, 45%, 60%);
  height: 100%
}

.thumb {
  width: 10px;
  height: 10px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.thumb.willDisplace:active,
.range.willDisplace:active {
  outline: 2px solid currentColor;
  box-shadow: 0px 0px 10px currentColor
}

.thumb.willSet:hover {
  filter: brightness(20%);
  border: 2px solid white;
  background: transparent;
}

.thumb.willDisplace:hover {
  outline: 2px solid currentColor;
}

.range.willSet:hover {
  background: rgba(0, 0, 255, 0.2);
  filter: brightness(150%) saturate(70%);
}

.fixed,
.willFix:hover {
  
  background: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 5px);
  filter:  contrast(50%) opacity(50%)
}

.willFix:active {
  background: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 5px)
}

.willErase:hover {
  background: repeating-linear-gradient(45deg, transparent, transparent 4px, red, red 5px);
  /* box-sizing: content-box; */
filter: contrast(50%) brightness(80%) sepia(100%) saturate(150%) hue-rotate(300deg) ;
}


.palette {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100vh;
  column-gap: 1rem;
  z-index: 100;
}

.palette>* {
  background: white;

}

.palette>div {
  display: flex;
  padding: 0.5rem;
  height: min-content;
  box-sizing: content-box;
  background-clip: padding-box;
  align-items: center;
  border: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 3px;
}

.palette>div:hover {
  font-weight: bold;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 212, .4);
}


.equipped {
  filter: contrast(50%) saturate(10%)  brightness(200%);
}

.hidden,
.inactive {
  display: none;
}

.config{
  grid-area: d;
  display: flex;
  column-gap: 0.5em;
  align-content: flex-end;
}


.slider-grid{
  padding:0 0.5em;
  align-items: center;
  display: grid; 
  grid-auto-rows: minmax(10, auto);
  grid-row: auto;
  grid-template-columns: minmax(13ch, 20%) minmax(3ch, 5ch) minmax(200px, auto)  minmax(3ch, 5ch);
  grid-template-areas: "name c0 val c1";
  gap: 0px 0.5em; 
}

.slider-grid>.param-name{
  grid-area: name;
}
