:root {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  --border-color: brown;
}

* {
  font-family: monospace;
  font-size: 1rem;
}

button:focus-visible {
  outline: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: cornflowerblue;
  text-decoration: inherit;
}

a:hover {
  color: royalblue;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  min-width: 320px;
  min-height: 100vh;

  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 25px 25px;
  background-position: -19px -19px;

}

input[type=number] {
  border: 2px solid rgba(40, 35, 35, 0.6);
  color: inherit;
  background: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  user-select: text;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(160px, 15%) minmax(400px, 30vw) 100vh;
  grid-template-areas:
    "c a b";
  margin: 1rem;
  column-gap: 1em;
}

.app {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 85vh;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: row
}

.viewport {
  grid-area: b;
  height: calc(100vh - 2em);
  overflow: scroll;
  z-index: -1;
  flex: 2 2 20em
}

.presets {
  grid-area: c;
  display: grid;
  /* flex-direction: column; */
  /* overflow-x: hidden; */
  overflow-y: auto !important;
  height: 100vh;
  min-width: 160px;
  row-gap: 1rem;
  align-content: flex-start;
}

.presets>* {
  backdrop-filter: blur(3px) grayscale(60%);
  color: white;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.7);
  height: max-content;
  min-height: 1px;
  overflow: hidden;
}

.presets>div {
  aspect-ratio: 1 /1;
}

.presets>*>span {
  display: block;
  position: absolute;
  float: left;
  background-color: rgba(0, 0, 0, 0.7)
}

.presets:first-child {
  position: sticky !important;
  top: 0;
  z-index: 100
    /* margin-top:1rem; */
}

.presets>*:hover {
  filter: brightness(150%);
  font-weight: bold;
}

.noscroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.sliders {
  padding: 0;
  margin: 0;
  grid-area: a;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 212, .4);
}

.sliders>li {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: minmax(0, 3em) minmax(0, 3em) auto minmax(0, 3em);
  column-gap: 0.2em;
  align-items: center;
}

.sliders>li:nth-child(even) {
  background-color: hsla(120, 0%, 30%, 0.9);
  ;
}

.sliders>li:nth-child(odd) {
  background-color: hsla(120, 0%, 40%, 0.9);
}

.track {
  display: flex;
  align-items: center;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.lock {
  max-width: 20px;
  aspect-ratio: 1 / 1;
}

.param-name {
  width: 10%;
  flex: 1 0 auto;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

canvas {
  /* position: absolute; */
  aspect-ratio: 1 /1;
  height: 100%;
  top: 0;
  float: left;
  background-color: white !important;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 140, .4);
}

.bound {
  overflow: scroll;
  color: white;
}

.c0 {
  text-align: right;
}

.c1 {
  text-align: left;
}


.infobox {
  padding: 0.5rem;
  width: auto;
  background-color: white;
  border: 2px solid rgba(0, 0, 212, .4);
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 212, .4);
}

.instrument {
  z-index: 10;
  position: fixed;
  color: black;
  background: white;
  /* border-color:rgba(0, 0, 212, .4);
  border-style: solid; */
}

.equipped {
  filter: contrast(50%) saturate(10%)  brightness(200%);
}

.locked {
  filter: contrast(50%) saturate(50%) opacity(70%);
}

.preview {
  filter: brightness(120%) hue-rotate(60deg);
}

.middle {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
}


.range,
.thumb {
  position: absolute;
  border: none;
  box-sizing: border-box;
}

.range {
  background: rgb(153, 153, 234);
  color: rgb(153, 153, 234);
  height: 100%
}

.thumb {
  width: 10px;
  height: 10px;
  background: white;
  color: black;
  border-radius: 5px;
}

.thumb.willDisplace:active,
.range.willDisplace:active {
  outline: 2px solid currentColor;
  box-shadow: 0px 0px 10px currentColor
}

.thumb.willSet:hover {
  filter: brightness(20%);
  border: 2px solid white;
  background: transparent;
}

.thumb.willDisplace:hover {
  outline: 2px solid currentColor;
}

.range.willSet:hover {
  background: rgba(0, 0, 255, 0.2);
  filter: brightness(150%) saturate(70%);
}

.foo,
.willFix:hover {
  background: repeating-linear-gradient(45deg, transparent, transparent 4px, lightskyblue, lightskyblue 6px)
}


.willErase:hover {
  background: repeating-linear-gradient(45deg, transparent, transparent 4px, red, red 6px);
  /* filter: brightness(150%) saturate(70%); */
  box-sizing: content-box;
}


.palette {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100vh;
  column-gap: 1rem;
  z-index: 100;
}

.palette>* {
  background: white;

}

.palette>div {
  display: flex;
  padding: 0.5rem;
  height: min-content;
  box-sizing: content-box;
  background-clip: padding-box;
  align-items: center;
  border: 2px solid rgba(0, 0, 212, .4);
}

.palette>div:hover {
  /* filter: contrast(200%) brightness(150%); */
  font-weight: bold;
  

  box-shadow: 5px 5px 0px 1px rgba(0, 0, 212, .4);
}

.hidden,
.inactive {
  display: none;
}